In [14]:
import pandas as pd

dict_df={
    "roll_num":[1,2,3,4,5,6,7,8,9],
    "names":["kunal","kunwar","lokesh","madhu","karan","pooja","kiran","aarif","mridul"],
    "salary":[1200000,700000,400000,500000,600000,400000,400000,800000,900000]
}
df=pd.DataFrame(dict_df)
print(df.to_string())

   roll_num   names   salary
0         1   kunal  1200000
1         2  kunwar   700000
2         3  lokesh   400000
3         4   madhu   500000
4         5   karan   600000
5         6   pooja   400000
6         7   kiran   400000
7         8   aarif   800000
8         9  mridul   900000

## 1. inserting columns - 2ways

#### (i) Way 1 --> adding col at last ----> df["new_col_name"]= [data1, data2, data3, .....]

In [15]:
df["cgpa"]=[7.5,8.5, None, 8, 7, 8, 8, 6.5, 8]
print(df.to_string())

   roll_num   names   salary  cgpa
0         1   kunal  1200000   7.5
1         2  kunwar   700000   8.5
2         3  lokesh   400000   NaN
3         4   madhu   500000   8.0
4         5   karan   600000   7.0
5         6   pooja   400000   8.0
6         7   kiran   400000   8.0
7         8   aarif   800000   6.5
8         9  mridul   900000   8.0

#### (ii) Way 2 --> inserting at specific index --> df.insert(col_index_loc, "col_name", col_data )

In [16]:
col_data=[75, 85, 75, 90, 75, 83, 85, 60, 85]
df.insert(1, "attandence_percentage", col_data )
print(df.to_string())

   roll_num  attandence_percentage   names   salary  cgpa
0         1                     75   kunal  1200000   7.5
1         2                     85  kunwar   700000   8.5
2         3                     75  lokesh   400000   NaN
3         4                     90   madhu   500000   8.0
4         5                     75   karan   600000   7.0
5         6                     83   pooja   400000   8.0
6         7                     85   kiran   400000   8.0
7         8                     60   aarif   800000   6.5
8         9                     85  mridul   900000   8.0