In [67]:
import pandas as pd

dict_df={
    "roll_num":[1,2,3,4,5,6,7,8,9],
    "names":["kunal","kunwar","lokesh","madhu","karan","pooja","kiran","aarif","mridul"],
    "salary":[1200000,700000,400000,None,600000,400000,400000,800000,900000],
    "age":[19,20,19,20,18,18,19,20,21] 
    }
df=pd.DataFrame(dict_df)
print(df.to_string())

   roll_num   names     salary  age
0         1   kunal  1200000.0   19
1         2  kunwar   700000.0   20
2         3  lokesh   400000.0   19
3         4   madhu        NaN   20
4         5   karan   600000.0   18
5         6   pooja   400000.0   18
6         7   kiran   400000.0   19
7         8   aarif   800000.0   20
8         9  mridul   900000.0   21

## 1. inserting columns - 2ways

#### (i) Way 1 --> adding col at last ----> df["new_col_name"]= [data1, data2, data3, .....]

In [68]:
df["cgpa"]=[7.5,8.5, None, 8, 7, 8, 8, 6.5, 8]
print(df.to_string())

   roll_num   names     salary  age  cgpa
0         1   kunal  1200000.0   19   7.5
1         2  kunwar   700000.0   20   8.5
2         3  lokesh   400000.0   19   NaN
3         4   madhu        NaN   20   8.0
4         5   karan   600000.0   18   7.0
5         6   pooja   400000.0   18   8.0
6         7   kiran   400000.0   19   8.0
7         8   aarif   800000.0   20   6.5
8         9  mridul   900000.0   21   8.0

#### (ii) Way 2 --> inserting at specific index --> df.insert(col_index_loc, "col_name", col_data )

In [69]:
col_data=[75, 85, 75, 90, 75, 83, 85, 60, 85]
df.insert(1, "attandence_percentage", col_data )
print(df.to_string())

   roll_num  attandence_percentage   names     salary  age  cgpa
0         1                     75   kunal  1200000.0   19   7.5
1         2                     85  kunwar   700000.0   20   8.5
2         3                     75  lokesh   400000.0   19   NaN
3         4                     90   madhu        NaN   20   8.0
4         5                     75   karan   600000.0   18   7.0
5         6                     83   pooja   400000.0   18   8.0
6         7                     85   kiran   400000.0   19   8.0
7         8                     60   aarif   800000.0   20   6.5
8         9                     85  mridul   900000.0   21   8.0

## 2. Changing values by using - df.loc[row_index, "column_name"] = value

(i) single value

In [70]:
df.loc[2,"cgpa"]=6
print(df)

   roll_num  attandence_percentage   names     salary  age  cgpa
0         1                     75   kunal  1200000.0   19   7.5
1         2                     85  kunwar   700000.0   20   8.5
2         3                     75  lokesh   400000.0   19   6.0
3         4                     90   madhu        NaN   20   8.0
4         5                     75   karan   600000.0   18   7.0
5         6                     83   pooja   400000.0   18   8.0
6         7                     85   kiran   400000.0   19   8.0
7         8                     60   aarif   800000.0   20   6.5
8         9                     85  mridul   900000.0   21   8.0

(ii) multiple values upgrade ---> df['col_name']= df['col_name'] operator value

In [71]:
df['salary'] = df['salary'] + 500000
print(df.to_string())

   roll_num  attandence_percentage   names     salary  age  cgpa
0         1                     75   kunal  1700000.0   19   7.5
1         2                     85  kunwar  1200000.0   20   8.5
2         3                     75  lokesh   900000.0   19   6.0
3         4                     90   madhu        NaN   20   8.0
4         5                     75   karan  1100000.0   18   7.0
5         6                     83   pooja   900000.0   18   8.0
6         7                     85   kiran   900000.0   19   8.0
7         8                     60   aarif  1300000.0   20   6.5
8         9                     85  mridul  1400000.0   21   8.0

## 3. Deleting rows or columns

(i) deleting columns => df.drop(columns=["col_1", "col_2", ...])

In [72]:
df_col_del=df.drop(columns=["cgpa", "roll_num"])
print(df_col_del)

   attandence_percentage   names     salary  age
0                     75   kunal  1700000.0   19
1                     85  kunwar  1200000.0   20
2                     75  lokesh   900000.0   19
3                     90   madhu        NaN   20
4                     75   karan  1100000.0   18
5                     83   pooja   900000.0   18
6                     85   kiran   900000.0   19
7                     60   aarif  1300000.0   20
8                     85  mridul  1400000.0   21

(ii) deleting a row ==> df.drop(row_index)

In [73]:
df_row_del=df.drop(2)
print(df_row_del)

   roll_num  attandence_percentage   names     salary  age  cgpa
0         1                     75   kunal  1700000.0   19   7.5
1         2                     85  kunwar  1200000.0   20   8.5
3         4                     90   madhu        NaN   20   8.0
4         5                     75   karan  1100000.0   18   7.0
5         6                     83   pooja   900000.0   18   8.0
6         7                     85   kiran   900000.0   19   8.0
7         8                     60   aarif  1300000.0   20   6.5
8         9                     85  mridul  1400000.0   21   8.0

## 4. Checking the NaN value :- --->df.isnull() ----> return a boolean df 

for finding number of missing values in each column ---> df.isnull().sum()


to fill the values use df.fillna(), for deleting rows use df.dropna() -----> covered in code with sharad ch6

In [74]:
print(df.isnull())

print(df.isnull().sum())

   roll_num  attandence_percentage  names  salary    age   cgpa
0     False                  False  False   False  False  False
1     False                  False  False   False  False  False
2     False                  False  False   False  False  False
3     False                  False  False    True  False  False
4     False                  False  False   False  False  False
5     False                  False  False   False  False  False
6     False                  False  False   False  False  False
7     False                  False  False   False  False  False
8     False                  False  False   False  False  False
roll_num                 0
attandence_percentage    0
names                    0
salary                   1
age                      0
cgpa                     0
dtype: int64

#### using interpolation for filling NaN values ---> Interpolation estimates missing values in a DataFrame or Series based on surrounding values

commonly used types of interpolation --> linear, polynomial, time

# df.interpolate(method="linear")

In [75]:
df_inter=df.interpolate(method="linear")
print(df_inter)

   roll_num  attandence_percentage   names     salary  age  cgpa
0         1                     75   kunal  1700000.0   19   7.5
1         2                     85  kunwar  1200000.0   20   8.5
2         3                     75  lokesh   900000.0   19   6.0
3         4                     90   madhu  1000000.0   20   8.0
4         5                     75   karan  1100000.0   18   7.0
5         6                     83   pooja   900000.0   18   8.0
6         7                     85   kiran   900000.0   19   8.0
7         8                     60   aarif  1300000.0   20   6.5
8         9                     85  mridul  1400000.0   21   8.0

/var/folders/j3/xxzh4f157s9dcyshl829bff40000gn/T/ipykernel_69931/2013013062.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  df_inter=df.interpolate(method="linear")

## 5. Sorting() :-
by single column-> df.sort_values(by="column_name", ascending=true/false)  {true= ascending order, false=descendoing order}

In [76]:
df_sorted_salary=df.sort_values(by="salary",ascending=False)
print(df_sorted_salary)

   roll_num  attandence_percentage   names     salary  age  cgpa
0         1                     75   kunal  1700000.0   19   7.5
8         9                     85  mridul  1400000.0   21   8.0
7         8                     60   aarif  1300000.0   20   6.5
1         2                     85  kunwar  1200000.0   20   8.5
4         5                     75   karan  1100000.0   18   7.0
2         3                     75  lokesh   900000.0   19   6.0
5         6                     83   pooja   900000.0   18   8.0
6         7                     85   kiran   900000.0   19   8.0
3         4                     90   madhu        NaN   20   8.0

by multiple column --> df.sort_values(by=["col_1", "col_2", ...], ascending=[True, False, ...])

In [77]:
df_sort_multiple=df.sort_values(by=["cgpa", "salary"], ascending=[True, False])
print(df_sort_multiple)

   roll_num  attandence_percentage   names     salary  age  cgpa
2         3                     75  lokesh   900000.0   19   6.0
7         8                     60   aarif  1300000.0   20   6.5
4         5                     75   karan  1100000.0   18   7.0
0         1                     75   kunal  1700000.0   19   7.5
8         9                     85  mridul  1400000.0   21   8.0
5         6                     83   pooja   900000.0   18   8.0
6         7                     85   kiran   900000.0   19   8.0
3         4                     90   madhu        NaN   20   8.0
1         2                     85  kunwar  1200000.0   20   8.5

## 6. Grouping -> grouping by column and applying methametical operations to get something out of it

df.groupby("col_for_grop")["col_for_mathematical_operation"].operation()

eg--> df.groupby("age")["salary"].sum()

In [79]:
salary_sum_by_age=df.groupby("age")["salary"].sum()
print(salary_sum_by_age)

print("\n\n\n")

cgpa_mean=df.groupby(["age","salary"])["cgpa"].mean()
print(cgpa_mean)

age
18    2000000.0
19    3500000.0
20    2500000.0
21    1400000.0
Name: salary, dtype: float64




age  salary
18   900000.0     8.0
     1100000.0    7.0
19   900000.0     7.0
     1700000.0    7.5
20   1200000.0    8.5
     1300000.0    6.5
21   1400000.0    8.0
Name: cgpa, dtype: float64

## 7. Merging and concatinating df :

Merging --> joining rows of same columns ==> pd.merge(df1, df2, on='common_column', how='inner')

how:-
'inner' → only matching rows (default)

'left' → all from left, match from right

'right' → all from right, match from left

'outer' → all rows from both, fill NaN where no match

In [83]:
import pandas as pd

df1 = pd.DataFrame({
    'roll_num': [1, 2, 3, 4],
    'names': ['kunal', 'kunwar', 'lokesh', 'madhu']
})

df2 = pd.DataFrame({
    'roll_num': [2, 3, 4, 5],
    'attendance_percentage': [85, 75, 90, 80]
})

merged_df = pd.merge(df1, df2, on='roll_num', how='inner') #only matching rows
print(merged_df,"\n\n\n")
merged_df = pd.merge(df1, df2, on='roll_num', how='outer') # all rows, fill NaN where no value 
print(merged_df,"\n\n\n")
merged_df = pd.merge(df1, df2, on='roll_num', how='left') #left df all rows, 
print(merged_df,"\n\n\n")
merged_df = pd.merge(df1, df2, on='roll_num', how='right') #right df all rows
print(merged_df,"\n\n\n")

   roll_num   names  attendance_percentage
0         2  kunwar                     85
1         3  lokesh                     75
2         4   madhu                     90



   roll_num   names  attendance_percentage
0         1   kunal                    NaN
1         2  kunwar                   85.0
2         3  lokesh                   75.0
3         4   madhu                   90.0
4         5     NaN                   80.0



   roll_num   names  attendance_percentage
0         1   kunal                    NaN
1         2  kunwar                   85.0
2         3  lokesh                   75.0
3         4   madhu                   90.0



   roll_num   names  attendance_percentage
0         2  kunwar                     85
1         3  lokesh                     75
2         4   madhu                     90
3         5     NaN                     80

cross - cartesian product -> match rows of first df with all rows of second ===> df1.merge(df2, how='cross')

In [84]:
import pandas as pd

df1 = pd.DataFrame({'student': ['A', 'B']})
df2 = pd.DataFrame({'subject': ['Math', 'English']})

# Cross join
crossed = df1.merge(df2, how='cross')
print(crossed)

  student  subject
0       A     Math
1       A  English
2       B     Math
3       B  English

## 8. Concatinating -> pd.concat([df1, df2], axis=0/1, ignore_index=True)

axis =0 for rows concat

axis=1 for columns concat

In [86]:
df1 = pd.DataFrame({
    'roll_num': [1, 2],
    'name': ['Alice', 'Bob']
})

df2 = pd.DataFrame({
    'roll_num': [3, 4],
    'name': ['Charlie', 'David']
})

result = pd.concat([df1, df2], axis=0, ignore_index=True)
print(result,"\n\n\n")
result = pd.concat([df1, df2], axis=1, ignore_index=True)
print(result,"\n\n\n")

   roll_num     name
0         1    Alice
1         2      Bob
2         3  Charlie
3         4    David



   0      1  2        3
0  1  Alice  3  Charlie
1  2    Bob  4    David