# # data frames:
---> A DataFrame is a 2D labeled data structure â€” like a table or a spreadsheet.
You can think of it as a collection of Series, where each column is a Series with the same row index.

##### # dictionary_syntax_for_dataframe = { "heading_1" : [value1,value2,...] , "heading_2" : [value1,value2,...] ,  ....}

In [47]:
import pandas as pd 

dict_class={"roll_nums":[63,64,65],"names":["kunal","kunwar","lokesh"],"salary":[20000,10000,50000]} # if i dont write matching rows wrt other cols then error
df_class=pd.DataFrame(dict_class)
print(df_class)

   roll_nums   names  salary
0         63   kunal   20000
1         64  kunwar   10000
2         65  lokesh   50000

### # accessing only specific row : series.loc[index] --> using indexing while printing

In [48]:
print(df_class.loc[0], "\n\n\n") # single row as 1d

print(df_class.loc[[0,1]]) # two or more rows as 2d always

roll_nums       63
names        kunal
salary       20000
Name: 0, dtype: object



   roll_nums   names  salary
0         63   kunal   20000
1         64  kunwar   10000

#### # naming our own index while makind dataframe :- pd.ataFrame(dict, index=[index1, index2, index3])

In [49]:
df_class_1=pd.DataFrame(dict_class, index=[12,13,14])
print(df_class_1)

    roll_nums   names  salary
12         63   kunal   20000
13         64  kunwar   10000
14         65  lokesh   50000

### # load data of csv file into dataframe : 
var1=pd.read_csv('path_of_csv')

print(var1)

In [50]:
csv_read=pd.read_csv('data.csv')
print(csv_read)

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112       NaN
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45           NaN    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132       NaN
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

## # .iloc[] -----> is used to select data by row/column number, not by label. ===> df.iloc[row_index, column_index]

can use sclicing, indexing etc for pointing a element

In [51]:
df=pd.DataFrame(dict_class)
print(df,"\n")

print(df.iloc[0],"\n")
print(df.iloc[0:2],"\n")
print(df.iloc[0:2, 0],"\n")
print(df.iloc[0:2, 1],"\n")
print(df.iloc[2, 1:2],"\n")

   roll_nums   names  salary
0         63   kunal   20000
1         64  kunwar   10000
2         65  lokesh   50000

roll_nums       63
names        kunal
salary       20000
Name: 0, dtype: object

   roll_nums   names  salary
0         63   kunal   20000
1         64  kunwar   10000

0    63
1    64
Name: roll_nums, dtype: int64

0     kunal
1    kunwar
Name: names, dtype: object

names    lokesh
Name: 2, dtype: object

# # applying colditions to filter rows and columns :
1. Selecing columns - df[["col_name1", "col_name2", ....]] {single or multiple}

2. Selecting rows based on conditions -- df[df["col_name"] >=< value] <----- col_name of column on which you wiling to apply condition

multiple condifions -- df[ (df["col_name_1"] >=< coldition_value) & or | (condition_2) & or | (condition_3) ]


### 1 Selection columns :-

In [52]:
df_col=df["names"]
print(df_col)

df_cols=df[["names", "roll_nums"]]
print(df_cols)

0     kunal
1    kunwar
2    lokesh
Name: names, dtype: object
    names  roll_nums
0   kunal         63
1  kunwar         64
2  lokesh         65

### 2 for rows based on conditions :-

In [54]:
df_rows=df[df["roll_nums"]>64]
print(df_rows)

df_row=df[(df["roll_nums"]>63) | (df["salary"]<50000)]
print(df_row)

   roll_nums   names  salary
2         65  lokesh   50000
   roll_nums   names  salary
0         63   kunal   20000
1         64  kunwar   10000
2         65  lokesh   50000